.App{
  display: flex;
  width: 80%;
  margin: 60px auto;
  height: 150px;
  overflow: hidden;
}

.App>div{
  flex-shrink: 0;
  width: 50%;
  border: 1px solid red;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: rgb(165, 165, 165);
  border-radius: 10px;
  align-items: center;
  font-size: 24px;
}

.App>div:first-child{
  z-index: 4;
 
}

.App>div:nth-child(2){
  z-index: 3;
  left: -25%;
}

.App>div:nth-child(3){
  z-index: 2;
  left: -50%;
}

.App>div:nth-child(4){
  z-index: 1;
  left: -75%;
  
}

